# Python
__pycache__/
*.pyc

# Django
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/

# ML models
*.h5
*.pth
*.onnx
models/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
